<p id="notice"><%= notice %></p>



<h1>お部屋一覧</h1>

<table>
  <thead>
    <tr></tr>
      <th>お部屋</th>
      <th>部屋紹介文</th>
      <th>金額</th>
      <th>住所</th>
      <th>部屋の画像</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td><%= room.intro %></td>
        <td><%= room.price %></td>
        <td><%= room.address %></td>
        <td><%= image_tag room.room_image.thumb.url %></td>
        <td><%= @user.name %></td>
        <td><%= link_to '部屋詳細', room %></td>
        <td><%= link_to '編集', edit_room_path(room) %></td>
        <td><%= link_to '削除', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '部屋登録', new_room_path %>
