<%= form_with model:@reservation do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "項目のエラーがあります") %> </h2>
      <ul>
        <% @reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= link_to "Back", :back %>
<% 
=begin
%>
  <div class="field">
    <%= form.label :start_day, "開始日"%>
    <%= form.date_field :start_day ,placeholder:"部屋の名前を入力"%>
  </div>

  <div class="field">
    <%= form.label :end_day, "終了日" %>
    <%= form.date_field :end_day ,placeholder:"部屋説明を入力"%>
  </div>

  <div class="field">
    <%= form.label :number, "人数" %>
    <%= form.number_field :number ,placeholder:"人数"%>
  </div>

  
  
　<%= form.hidden_field :user_id, value: current_user.id %>
　<%= form.hidden_field :room_id, value: @reservation.room_id %>
　
  <div class="actions">
    <%= form.submit %>
  </div>
<%
=end
%>
<% end %>
