<!DOCTYPE html>
<html>
  <head>
    <title>Plan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
  <header class="header">
    Header
    <%= link_to 'トップページ', "/" %>
    </header>
  <div class="content-body">
    <main class="content">
      <%= yield %>
      </main>
    <nav class="sidenav">Nav</nav>
    <aside class="ads">Ads</aside>
  </div>
   
  <footer class="footer">Footer</footer>
</div>
   
  </body>
</html>
